body {
  font-weight: bold;
}

h1 {
	text-align: center;
	padding: 23px;
	background-color: skyblue;
	color: white;
}

.formstyle
{
  width: 300px;
  height: 530px;
  margin: auto;
  border-radius: 5px;
  padding: 20px;
}



input
{
  float: left;
  width: 20px;
  background-color: white;
  color: black;
  text-align: center;
  border: 3px solid black;
  border-radius: 5px;
  padding: 26px;
  margin: 5px;
  font-size: 15px;
}


#kalkulator{
  width: 265px;
  border: 5px solid black;
  border-radius: 3px;
  padding: 20px;
  margin: auto;
  
}