body{
	margin: 0px;
	background-color: rgb(239, 255, 253);
}

.container{
	text-align:center;
}

h2, 
#userinput, 
#enterButton{
	font-family:sans-serif;
}

h2{
	color:#3C4142;
	height:55px;
	margin:0 0 70px 0;
	padding-top:17px;
	text-align:center;
	letter-spacing:2px;
	font-size:28px;
	text-transform: capitalize;
}

#userinput{
	height: 50px;
	width:380px;
	padding-left:8px;
	margin-bottom:25px;
	font-size: 20px;
}

#enterButton{
	background-color: rgb(66, 194, 255);
	font-size: 15px;
	letter-spacing: 1px;
	height:35px;
	width: 100px;
	margin-bottom: 15px;
}

.todolist{
	position: relative;
	font-family: sans-serif;
	line-height: 30px;
	width: 370px;
	height: auto;
	min-height: 80px;
	margin:0 auto;
	border: 7.5px solid rgb(66, 194, 255);
	background-color: rgb(184, 255, 249);
}


li:hover{
	text-decoration: line-through;
 }

 .done{
 	text-decoration: line-through;
 }

.todobutton{
	position: absolute;
	right:20px;
	margin-top:5px;
	background-color:rgb(66, 194, 255);
	height: 25px;
	border-radius: 10px;
}


.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgb(133, 244, 255);
	color: black;
	text-align: center;
  }
  
  .footer_right {
	float:right;
	width: 50%;
  }
  .footer_left {
	float: left;
	width: 50%;
  }