body {
    margin: 0;
    padding: 0;
    background-color: rgb(239, 255, 253);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(133, 244, 255);
  color: black;
  text-align: center;
}

.footer_right {
  float:right;
  width: 50%;
}
.footer_left {
  float: left;
  width: 50%;
}


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
  background-color: rgb(184, 255, 249);
  margin: 5px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
  text-align: center;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.bottom_container {
  margin:0 auto;
  text-align: center;
}

.title {
  color: black;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: rgb(66, 194, 255);
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color:#555;
}


@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.img {
  width: 80%;
  align-items: center;
}

.code-type {
  float: left;
  width: 30%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.code-type2 {
  float: right;
  width: 30%;
  margin-bottom: 16px;
  padding: 0 8px;
}